<footer class="footer">
<small>
	<a href="#">dataclips.io</a>, a Berlin / San Francisco co-production
</small>
<nav>
	<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</nav>
</footer>
