            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Dataclips', dataclips_path %></li>
                    <li><%= link_to 'Databases', db_connections_path %></li>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div><!-- /navbar-collapse -->