<!DOCTYPE html>
<html>

<!-- Unify HTML Header -->
<%= render 'layouts/unify_htmlheader' %>  
<!--=== End HTML Header ===-->    

<!--=== Header ===-->  
<%= render 'layouts/header' %>  
<!--=== End Header ===-->    

<body>
<!--=== Content Part ===-->

<%= yield %> 
</body>
</html>